/default/src/main/resources/*.der	filter=git-crypt diff=git-crypt
/default/src/main/resources/config/application-dev.yaml	filter=git-crypt diff=git-crypt
/default/src/main/appengine/app.yaml	filter=git-crypt diff=git-crypt
/default/src/main/resources/micro-services-378415-83c3c6430e0a.json	filter=git-crypt diff=git-crypt
