/default/src/main/resources/*.der	filter=git-crypt diff=git-crypt
/default/src/main/resources/application-dev.yaml	filter=git-crypt diff=git-crypt
/default/src/main/appengine/app.yaml	filter=git-crypt diff=git-crypt
